body{
    border:0px;
    padding:0px;
    margin:0px;
    background-color:black;
    color:white;
    font-family:georgian;
}

/*----------header------------*/
#header {
    height:100%;
    background:url(LRM_EXPORT_20171213_224820-2.jpg)no-repeat center center fixed;
    background-size:cover;
}
h1{
    padding-top:200px;
    padding-bottom:20px;
    text-align:center;
    display:block;
    font-size:64px;
    font-weight:lighter;
}
h4{
    padding-bottom:180px;
    text-align:center;
    font-size:32px;
}
/*-------MENU IS MISSING ---------*/

#profilePic{
    border-radius: 50%;
    height:350px;
    width:350px;
    transform:rotate(90deg);
    float:left;
    border-color:white;
    border-width:5px;
    border-style:solid;
    margin-right:100px;
    margin-bottom:70px;
}

#portfolio{
    padding-top:80px;
    padding-left:200px;
    padding-right:100px;
}

#profileInfo{
    padding-left:50px;
    margin-left:50px;
}
/*----------content------------*/

#content{
    clear:both;
    display:block;
    /*padding:150px;*/
}

#mainProjects{
    background-color:gray;
    padding:150px;
    margin-top:350px;
}

h2{
    text-align:center;
}

.project{
    background-color:black;
    padding:40px;
    border-width:2px;
    border-style:solid;
    margin-right:50px;
    margin:50px;
}

.projectimg{
    display: block;
    margin-left:auto;
    margin-right:auto;
    
}
/*-------------miniProjects----------*/

form{
    margin-left:70px;
    padding:70px;
    width:450px;
    float:left;
}


.minimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/*-----------footer-----------*/
#footer{
    padding:45px;
    background:url("image.jpeg")no-repeat center center fixed;
    background-size:cover;
    clear:both;

    height:35px;
}
#footer ul{
    padding:0px;
    margin:0px;
    list-style-type:none;
    text-align:center;
}
#footer li{
    display:inline;
    vertical-align:middle;
    padding:5px;
    border-width:1px;
    border-color:lightgray;
    border-style:solid;
}
#footer a{
    text-decoration:none;
    padding:5px;
    color:lightgray;
    vertical-align:middle;
}
#footer a:hover{
    cursor:grab;
    background-color:lightgray;
    border-color:lightgray;
    opacity:0.3;
}

/*-----subcontent-----------*/
.subcontent{
    margin-top:50px;
    padding-left:150px;
    padding-right:150px;
    padding-top:50px;
}
h2{
    text-transform:uppercase;
}
.subcontent img{
    display:block;
    width:350px;
    margin-left:auto;
    margin-right:auto;
}

h3,h5{
    text-align:center;
}

#education{
    background-color:lightblue;
}
#education div {
    border-width:2px;
    border-color:lightgray;
    border-style:solid;
}












